@font-face {
    font-family: "monospace";
    src: url("../fonts/MonospaceRegular.woff2") format("woff2");
    font-weight: 400;
    
    

    
}

@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
    

}




html {
    color: #C2C2C2;
    background-color: #202224;
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

body {
    word-wrap: break-word;
}

code{
    font-family: "monospace", sans-serif;
    font-weight: 400;
    font-size: 22px;
}
p { 
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
}

ul {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

ol {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

table {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    
    
}

/* tr { /* * !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    border-width: 2px;
    border-color:aqua;
} */



blockquote {
    background-color: #33373A;
    color: #D9D9D9;
    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
}

.linenodiv pre {
    display: flex;
    flex-direction: column;
    gap: 0px;

}

.linenodiv span {
    font-family: "monospace", sans-serif;
    font-weight: 400;
}

